*{
    margin: 0;
    padding: 0;
}
html,
body,
div,
ul,
li,
dl,
dt,
dd,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
a,
p,
select{
    box-sizing: content-box;
    list-style: none;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
body{
    background-color: rgba(243, 243, 243, 1);
}