//1.全局定义样式
//主题色
$bgColor:rgba(237, 119, 31,1);
//$bgColor:rgba(52, 133, 233, 1);
$bgColorS:rgba(237, 119, 31,0.5);
$bgColorS2:rgba(237, 119, 31,0.2);
$checkColor:rgba(237, 119, 31,1);
//字号
$fontSize1:16px;
//字体颜色
$fontColor1:#2F3335;
$fontColor2:rgba(102, 102, 102, 1);
//白色
$colorW:#fff;
